body {
  overflow-x: hidden;
}

header {
  opacity: 0;
  animation: header 2s linear forwards;
  animation-delay: 0.9s;
}

@keyframes header {
  100% {
    opacity: 1;
  }
}

@keyframes body {
  from {
    transform: translateY(50%);
  }
}

.bg-color-right {
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  animation: bg-right 1s linear forwards;
  animation-delay: 1s;
  z-index: 2000;
}

.bg-color-left {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 51%;
  height: 100%;
  animation: bg-left 1s linear forwards;
  animation-delay: 1s;
  z-index: 2000;
}

@keyframes bg-right {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(0.9) rotateY(-30deg);
  }
  100% {
    transform: translateX(110%);
  }
}

@keyframes bg-left {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(0.9) rotateY(30deg);
  }
  100% {
    transform: translateX(-110%);
  }
}

.load-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loadBox 0.7s ease forwards;
  animation-delay: 0.8s;
  z-index: 2000;
}

@keyframes loadBox {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.text {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 12px;
}

.load-place {
  width: 200px;
  height: 15px;
  border: 3px solid #000;
  position: relative;
}

.load-place::before {
  content: "";
  position: absolute;
  height: 9px;
  width: 10px;
  background-color: #000;
  animation: loading 0.9s ease-in forwards;
}

@keyframes loading {
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  body {
    overflow-x: hidden;
  }
}
