.conteiner {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.conteiner .h2 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.conteiner .under_h2 {
  color: rgb(67, 59, 59);
  font-size: 19px;
  max-width: 700px;
  margin: 10px auto;
}

/* history card */
/* card 1 */

.cards_for_history {
  margin-top: 100px;
}

.card_1 {
  background-color: rgb(2, 2, 4);
  height: 470px;
  width: 1160px;
  margin: -150px auto;
  position: relative;
  border-radius: 15px;
  margin-bottom: 100px;
  box-shadow: 2px 2px 15px #000;
}

.card_1 img {
  width: 644px;
  height: 392px;
  padding: 100px 0px 0px 50px;
}

.text_align1 .year {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

.text_align1 .year::before {
  content: "";
  position: absolute;
  background-color: #f6c43d;
  width: 50px;
  height: 2px;
  bottom: 10px;
}

.text_align1 {
  margin-left: 650px;
  margin-top: -240px;
}

.text_align1 .info {
  color: #666666;
}

/* card2 */

.card_2 {
  height: 470px;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 15px #000;
  position: relative;
}

.card_2 img {
  width: 544px;
  height: 350px;
  margin-left: 615px;
  padding-top: 100px;
}

.text_align2 {
  position: absolute;
  top: 100px;
  left: 100px;
}

.text_align2 .year2 {
  color: #000;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}

.text_align2 .year2::before {
  content: "";
  position: absolute;
  background-color: rgb(22, 46, 228);
  width: 50px;
  height: 3px;
  bottom: 10px;
}

.text_align2 .info2 {
  color: rgb(55, 55, 55);
  font-size: 20px;
  max-width: 600px;
}

/* card3 */

.card_3 {
  height: 470px;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  margin-bottom: 100px;
  background-color: rgb(5, 7, 28);
  position: relative;
  box-shadow: 2px 2px 15px #000;
}

.card_3 img {
  width: 600px;
  height: 300px;
  padding: 100px 0px 0px 50px;
}

.text_align3 {
  margin-left: 650px;
  margin-top: -240px;
}

.text_align3 .year3 {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

.text_align3 .year3::before {
  content: "";
  position: absolute;
  background-color: #f6c43d;
  width: 50px;
  height: 2px;
  bottom: 10px;
}

.text_align3 .info3 {
  color: #666666;
  max-width: 500px;
}

/* card4 */

.card_4 {
  height: 470px;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
  margin-bottom: 100px;
  background-color: rgb(221, 226, 233);
  box-shadow: 2px 2px 15px #000;
}

.card_4 img {
  width: 544px;
  height: 350px;
  margin-left: 515px;
  padding-top: 100px;
}

.text_align4 {
  position: absolute;
  top: 100px;
  left: 100px;
}

.text_align4 .year4 {
  color: #000;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}

.text_align4 .year4::before {
  content: "";
  position: absolute;
  background-color: rgb(22, 46, 228);
  width: 50px;
  height: 3px;
  bottom: 10px;
}

.text_align4 .info4 {
  color: #000;
  max-width: 500px;
}

/* media */

@media screen and (max-width: 1280px) {
  .card_1,
  .card_3 {
    width: 750px;
    position: relative;
  }

  .card_1 img,
  .card_3 img {
    width: 422px;
    height: 352px;
    padding: 100px 0px 0px 50px;
  }

  .text_align1,
  .text_align3 {
    position: absolute;
    left: -190px;
  }

  .text_align1 .year,
  .text_align3 .year3 {
    font-size: 65px;
  }

  .text_align1 .info,
  .text_align3 .info3 {
    max-width: 250px;
    font-size: 20px;
  }

  /* ------------ */

  .card_2,
  .card_4 {
    width: 750px;
    position: relative;
  }
  .card_2 img,
  .card_4 img {
    width: 422px;
    height: 320px;
    margin-left: 325px;
  }

  .text_align2 .year2,
  .text_align4 .year4 {
    font-size: 65px;
  }

  .text_align2 .info2,
  .text_align4 .info4 {
    max-width: 300px;
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .card_1,
  .card_3 {
    width: 450px;
    height: 600px;
    position: relative;
  }

  .card_1 img,
  .card_3 img {
    width: 452px;
    height: 352px;
    padding: 100px 0px 0px 50px;
    position: absolute;
    top: -50px;
    left: -25px;
  }

  .text_align1,
  .text_align3 {
    position: absolute;
    top: 550px;
    left: -600px;
  }

  .text_align1 .info,
  .text_align3 .info3 {
    max-width: 90%;
    font-size: 25px;
  }

  /* -------- */
  .card_2,
  .card_4 {
    width: 450px;
    height: 600px;
    position: relative;
  }

  .card_2 img,
  .card_4 img {
    position: absolute;
    left: -310px;
    top: -45px;
  }

  .text_align2,
  .text_align4 {
    position: absolute;
    top: 300px;
    left: 50px;
  }

  .text_align2 .info2,
  .text_align4 .info4 {
    font-size: 25px;
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  /* -------- cards --------  */
  .card_1,
  .card_3,
  .card_2,
  .card_4 {
    width: 250px;
  }

  .card_1 img,
  .card_3 img {
    width: 252px;
    height: 220px;
    padding: 100px 0px 0px 50px;
    position: absolute;
    top: -50px;
    left: -25px;
  }

  .text_align1,
  .text_align3 {
    top: 450px;
  }

  .text_align1 .info,
  .text_align3 .info3 {
    font-size: 20px;
  }

  /* -------- cards2,4 --------  */

  .card_2 img,
  .card_4 img {
    width: 252px;
    height: 220px;
    padding: 100px 0px 0px 50px;
    position: absolute;
    left: -350px;
  }

  .text_align2,
  .text_align4 {
    top: 200px;
  }

  .text_align2 .info2,
  .text_align4 .info4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .conteiner .h2 {
    font-size: 30px;
  }

  .conteiner .under_h2 {
    font-size: 15px;
    line-height: 25px;
  }
  
  .card_1,
  .card_3,
  .card_2,
  .card_4 {
    width: 85%;
  }

  .card_1 img,
  .card_2 img,
  .card_3 img,
  .card_4 img {
    width: 100%;
    height: 235px;
    padding: 95px 0px 0px 50px;
  }

  .text_align1 .info,
  .text_align2 .info2,
  .text_align3 .info3,
  .text_align4 .info4 {
    font-size: 25px;
  }
}

@media screen and (max-width: 330px) {
  .text_align1 .info,
  .text_align2 .info2,
  .text_align3 .info3,
  .text_align4 .info4 {
    font-size: 22px;
  }
}
